body {
    background-image: url('b.jpg');
    background-size: cover;
    overflow-y: scroll;
}

.textbox::-webkit-scrollbar {
    display: none;
}

.textbox {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

h1 {
    color: rgb(134, 10, 184);
    margin-left: 600px;
    margin-top: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 650px;
    text-align: center;
    text-indent: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
    color: rgb(134, 10, 184);
}

.textbox {
    border: 5px solid #b845d4;
    padding: 10px;
    background-color: rgb(245, 236, 202);
}

.textbox::after {
    content: "";
    clear: both;
    display: table;
}

.logoPic {
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    width: 600px;
    height: 400px;
}