body {
    background-image: url('b.jpg');
	background-size: cover;
}

h1 {
    color: navy;
    margin-left: 20px;
    text-align:center;
}

img {
    float: right;
    width: 130px;
    height: 80px;
    margin-right: 3px;
}