body {
    background-color: lightblue;
    overflow: hidden;
}

h1 {
    color: navy;
    margin-left: 20px;
}

img {
    float: right;
    width: 130px;
    height: 80px;
    margin-right: 3px;
}