body {
    background-image: url('../assets/b.jpg');
    background-size: cover;
}

h1 {
    color: rgb(134, 10, 184);
    text-align: center;
    margin-top: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    margin: 60px 70px 30px 650px;
    text-align: center;
    text-indent: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
    color: rgb(134, 10, 184);
}

.textbox {
    border: 5px solid #b845d4;
    padding: 10px;
    background-color: rgb(243, 237, 213);
}

.textbox::after {
    content: "";
    clear: both;
    display: table;
}

.logoPic {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    height: 400px;
}