.card {
    box-shadow: 0 100px 200px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card button {
    border: none;
    color: white;
    background-color: rgb(241, 135, 197);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    justify-content: center;
}

.card button:hover {
    opacity: 0.7;
}
.card img{
    float: none;
    width: auto;
    height: 100px;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #ffffff;
    opacity: 0.8;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

button{
    background-color: #E6D0CC;
    font-size: 30px;
    color:inherit;
}