body {
    box-sizing: border-box;
    font-family: Georgia serif;
    font-size: 20px;
}
h1{
    text-align: center;
    color: darkblue;
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 42px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

input[type=submit] {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px;
}

.column {
    float: left;
    justify-content: center;
}

.logoPic {
    width: 720px;
    height: 500px;
    justify-content: flex-end;
}

table {
    width: 100%;
    vertical-align: middle;
}

tr {
    vertical-align: middle;
}