body {
    box-sizing: border-box;
    font-family: Georgia serif;
    font-size: 20px;
}
h1{
    text-align: center;
    color: darkblue;
}

formular{
    display: inline-block;
    float: left;
    width: 45%;
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 42px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

input[type=submit] {
    background-color: #45a049;
    width: auto;
    justify-content: center;
}

.logoPic {
    margin-top: 20px;
    float: right;
    width: 720px;
    height: 500px;
    display: inline-block;
}
 img{
     float: right;
     display: inline-block;
     justify-content: center;
 }

 .textbox{
     justify-content: center;
    text-align: center;
     background-color: transparent;
 }