body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.donations {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 50px auto;}

.donations form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;
}

.donations form input[type="text"]{
    width: 310px;
    height: 45px;
    margin-bottom: 20px;
}

.donations form input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: limegreen;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;

}

.donations form label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f9f9f9;
    color: black;
}

h1 {
    margin-top: 40px;
    text-align: center;
    color: rgb(120, 10, 223);
}

p {
    text-align: center;
    text-indent: 50px;
    font-size: 20px;
    color: rgb(120, 10, 223);
    font-weight: bold;
}
.donations p{
    text-align: center;
    text-indent: 10px;
    font-size: 20px;
    color: rgb(120, 10, 223);
    font-weight: bold;
}