@media screen and (max-width: 500px) {
    .nav a {
        float: none;
        display: block;
    }
}

.menu-btn, .account, .main {
    background-color: #040008;
    color: white;
    font-size: 18px;
    border: none;
    align-self: center;
    padding: 14px;
    margin-top: 15px;

}
.dropdown-menu {
    float: left;
    overflow: hidden;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}
.menu-content a{
    float: none;
    display: block;
}
nav{
    background-color: black;
    overflow: hidden;
}
.links,.links-hidden{
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    float: none;
    display: block;
    text-decoration: none;
    text-align: left;
}

.links{
    color: white;
}

.links-hidden{
    display: block;
}
.links{
    display: inline-block;
}
.links-hidden:hover,.links:hover {
    background-color: #f9f9f9;
    color: black;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
img {
    float: right;
    width: 130px;
    height: 80px;
    margin: 1px 3px 2px 0;
}
.account{
    margin: 14px 16px 0 540px;
}
.main{
    float: left;
}